.background {
	background-color:#00e676; 
	height: 1200px; 
	width: 700px;

}

/*Layout view on a phone*/
@media only screen and (max-width: 360px) {
	.background{ 
		background-color: #aeaeaa;
		width: 300px;
		height: 100px;
		
	}

}
/*Layout view for a tablet*/

@media only screen and (min-width: 768px) and (max-width: 1060px){
	.background {
		background-color: #651fff;
		font-style: inherit;
		font-family: sans-serif;
		width: 600px;
		height: 400px;
		
	}
}